html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.nav-link:hover {
    transition: all 0.4s;
}

.nav-link-collapse:after {
    float: right;
    content: '\f067';
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    content: '\f068';
    font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
    padding-left: 20px;
}

@media (min-width: 992px) {
    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
        background: #343a40;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        float: right;
        display: inline-block;
    }

    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }

    .content-wrapper {
        margin-left: 230px;
    }

    .footer {
        width: calc(100% - 230px);
        margin-left: 230px;
    }
}
#navAccordion {
    float: left;
    display: inline-block;
}
.add-note {
    margin-bottom: 15px;
    font-weight: bold;
}
.question-field p, .question-field h5 {
    font-size: 1.5em;
}
.question-field .question-answer {
    display: none;
}
.content-field{
    padding-top: 3em;
}
.clue {
    display: none;
}
